body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

p {
    color: #40514E;
    position: relative;
    font-family: 'Montserrat', cursive;
}

h1 {
    color: #66BFBF;
    font-size: 5.62rem;
    font-family: 'Satisfy', cursive;
    line-height: 2;
    margin-top: 50px;
}

h2 {
    color: #66BFBF;
    font-weight: normal;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr {
    margin-top: 100px;
    margin-bottom: 100px;
    border-top: dotted;
    border-top-width: 7px;
    width: 5%;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-color: #7e8d8d;
}

a {
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    color: #07575a;
}

.top-container {
    background-color: #D3DEDC; 
    position: relative;  
    padding: 100px 100px;
}

.middle-container {
    background-color: #EFEFEF;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 5px;
    line-height: 5; 
}


.ola-row {
    margin: auto;
    width: 50%;
    line-height: 2;
}

.skill-row {
    margin: 100px auto 200px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}

.contato-row {
    margin: 50px auto 50px auto;
    width: 50%;
    line-height: 2; 
}

.contact-me {
    line-height: 2;
    width: 50%;
    margin: auto;
    padding-bottom: 100px;
}

.top-cloud {
    position: relative;
    top: 20px;
    left: 300px
    
}

.bottom-cloud {
    position: absolute;
    top: 300px;    
}

.mountain {
    height: 420px;
    position: relative;

}

.python-img {
    width: 25%;
    float: left;
    margin-right: 30px;
    
}

.web-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.profile-img {
    border-radius: 50%;
    margin-top: 200px;
    width: 15%; 
}


.footer-link-btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    background: #11cdd4;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .footer-link-btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .footer-copy {
      color: #EAF6F6;
      font-size: 0.75rem;
      
  }